<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改${table.remarks}</div>
                <div class="layui-card-body">
<form class="layui-form" method="post" lay-filter="${table.entityLowerCamel}Edit-filter">
    #foreach($column in $table.columns)
        #if (${column.fieldName} == "id")
            <input type="hidden" id="id" name="id">
        #elseif (${column.whoColumn} == "true")
        #elseif (${column.editable} == "false")
        #elseif (${column.showInAdd} == "false")
        <div class="layui-form-item">
        <label class="layui-form-label">${column.remarks}</label>
        <div class="layui-input-block">
            <input type="text" name="${column.fieldName}" disabled readonly class="layui-input layui-disabled">
        </div>
        </div>
        #else
            <div class="layui-form-item">
            #if (${column.required} == "true")
            <label class="layui-form-label required">${column.remarks}</label>
            <div class="layui-input-block">
                #if (${column.pageType} == "radio")
                    #foreach($optionItem in $column.valueSet)
                        <input type="radio" name="${column.fieldName}" value="${optionItem}" title="${optionItem}">
                    #end
                #elseif(${column.pageType} == "radio-dict")
                    <span id="${column.fieldName}View" data-type="sysDictFromEdit" data-title="${column.valueSetString}" data-url="${column.fieldName}"></span>
                #elseif(${column.pageType} == "select")
                    <select name="${column.fieldName}" lay-verify="">
                        <option value=""></option>
                        #foreach($optionItem in $column.valueSet)
                            <option value="${optionItem}">${optionItem}</option>
                        #end
                    </select>
                #elseif(${column.pageType} == "select-dict")
                    <select lay-verify="required" name="${column.fieldName}"></select>
                #elseif(${column.pageType} == "date")
                    <input type="text" name="${column.fieldName}" id="${column.fieldName}" lay-verify="required" class="layui-input">
                #elseif(${column.pageType} == "textarea")
                    <textarea name="${column.fieldName}" class="layui-textarea" lay-verify="required"></textarea>
                #else
                <input type="${column.pageType}" lay-verify="required" name="${column.fieldName}" autocomplete="off" class="layui-input">
                #end
            </div>
            #else
            <label class="layui-form-label">${column.remarks}</label>
            <div class="layui-input-block">
                #if (${column.pageType} == "radio")
                    #foreach($optionItem in $column.valueSet)
                        <input type="radio" name="${column.fieldName}" value="${optionItem}" title="${optionItem}">
                    #end
                #elseif(${column.pageType} == "radio-dict")
                    <span id="${column.fieldName}View" data-type="sysDictFromEdit" data-title="${column.valueSetString}" data-url="${column.fieldName}"></span>
                #elseif(${column.pageType} == "select")
                    <select name="${column.fieldName}" lay-verify="">
                        <option value=""></option>
                        #foreach($optionItem in $column.valueSet)
                            <option value="${optionItem}">${optionItem}</option>
                        #end
                    </select>
                #elseif(${column.pageType} == "select-search")
                    <select name="${column.fieldName}" lay-verify="" lay-search>
                        <option value="">--请选择--</option>
                        #foreach($optionItem in $column.valueSet)
                            <option value="${optionItem}">${optionItem}</option>
                        #end
                    </select>
                #elseif(${column.pageType} == "select-dict")
                    <select name="${column.fieldName}" lay-verify=""></select>
                #elseif(${column.pageType} == "date")
                    <input type="text" name="${column.fieldName}" id="${column.fieldName}" autocomplete="off" class="layui-input">
                #elseif(${column.pageType} == "textarea")
                    <textarea name="${column.fieldName}" class="layui-textarea"></textarea>
                #elseif(${column.pageType} == "textarea-wangEdit")
                    <div id="${column.fieldName}"></div>
                #else
                <input type="${column.pageType}" name="${column.fieldName}" autocomplete="off" class="layui-input">
                #end
            </div>
            #end
            </div>
        #end
    #end
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="${table.entityLowerCamel}Edit-filter">立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary cancelEdit">取消</button>
        </div>
    </div>
</form>
</div></div></div></div>
</div>
</body>
<script type="text/javascript" src="/js/system.js" charset="utf-8"></script>
#foreach($column in $table.columns)
    #if(${column.pageType} == "textarea-wangEdit")
    <script type="text/javascript" src="//unpkg.com/wangeditor/dist/wangEditor.min.js"></script>
    #end
#end
<script>
        #foreach($column in $table.columns)
            #if(${column.pageType} == "textarea-wangEdit")
            const E = window.wangEditor
            const editor = new E('#${column.fieldName}')
            // 配置 server 接口地址
            editor.config.uploadImgServer = '/api/sysFile/addSingleImageForWangEdit'
            editor.config.uploadFileName = 'file'
            editor.create()
            #end
        #end
    layui.use(['form', 'layedit','laydate','util'], function () {
        var form = layui.form
                , layer = layui.layer
                , $ = layui.$
                , util = layui.util
                , laydate = layui.laydate;
        //监听提交
        form.on('submit(${table.entityLowerCamel}Edit-filter)', function (data) {
            var jsonData = JSON.stringify(data.field);
            sys_doAjaxPostWithJSON('/api/${table.entityLowerCamel}/update',jsonData,function (data) {
                layer.msg("修改成功", {time: 1000}, function (data) {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                    parent.$('#btnRefresh').click();
                });
            });
            return false;
        });
        #foreach($column in $table.columns)
            #if (${column.pageType} == "select-dict")
                sys_renderDictValue('${column.valueSetString}', $('select[name="${column.fieldName}"]'));
            #elseif (${column.pageType} == "date")
                laydate.render({
                    elem:'#${column.fieldName}'
                });
            #end
        #end
        var id = sys_getParam('id');
        var getDataUrl = '/api/${table.entityLowerCamel}/queryById/' + id
        sys_doAjaxGet(getDataUrl, function(record){
                 sys_renderDictRadioValueForEdit();
                //表单初始赋值
                form.val('${table.entityLowerCamel}Edit-filter', {
                #foreach($column in $table.columns)
                    #if (${column.fieldName} == "id")
                        "id": record.id
                    #else
                        #if (${column.pageType} == "date")
                        , "${column.fieldName}": util.toDateString(record.${column.fieldName}, 'yyyy-MM-dd')
                        #elseif (${column.pageType} == "radio-dict")
                        , "${column.fieldName}": record.${column.fieldName}.toString()
                        #elseif(${column.pageType} == "textarea-wangEdit")
                        #else
                        , "${column.fieldName}": record.${column.fieldName}
                        #end
                    #end
                #end
                });
                #foreach($column in $table.columns)
                  #if(${column.pageType} == "textarea-wangEdit")
                  editor.txt.html(record.${column.fieldName});
                  #end
                #end
        });
    });
</script>
</html>